.cards{
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    border-radius:14px;
    background-color: bisque;
    width:75vw;
    margin-left:150px;
}
.ul_it{
    background-color: bisque;
}